@font-face {
    font-family: nameFont;
    src: url(GeosansLight.ttf);
}

body {
	background-image: url('grid.jpg');
	background-attachment:fixed;
	background-color:#ddd;
	background-repeat:static;
	
	color:#000385;
	font-size: 120%;
	font-family:  nameFont,'Lucida Sans Unicode', Arial;
	line-height: 1.5;
	text-align: left;
	max-width:1000px;
}

.title {
	color: #fff;
}

.firstyear{
	background-image: url('firstyearback.jpg');
	background-repeat: no-repeat;
   margin-top:3%;
   margin-bottom:20px;
    background-position: center; 
  
	min-height: 380px;
	-webkit-box-shadow: inset 10px 10px 34px -13px rgba(0,0,0,0.75);
-moz-box-shadow: inset 10px 10px 34px -13px rgba(0,0,0,0.75);
box-shadow: inset 10px 10px 34px -13px rgba(0,0,0,0.75);
}


.firstyear h1 {
	padding-top:75px;
	color:#fff;
	text-shadow: 3px 3px #000;
}

.firstyear p {
	color:#fff;
	text-shadow: 2px 2px #000;
	
}

.highschool{
	background-image: url('hshead.jpg');
	background-repeat: no-repeat;
   margin-top:3%;
   margin-bottom:20px;
    background-position: center; 
  
	min-height: 400px;
	-webkit-box-shadow: inset 10px 10px 34px -13px rgba(0,0,0,0.75);
-moz-box-shadow: inset 10px 10px 34px -13px rgba(0,0,0,0.75);
box-shadow: inset 10px 10px 34px -13px rgba(0,0,0,0.75);
}

.highschool h1 {
	padding-top:75px;
	color:#fff;
	text-shadow: 3px 3px #000;
}

.highschool p {
	color:#fff;
	text-shadow: 2px 2px #000;
	
}


.intro {
	background-image: url('backface.jpg');
	background-repeat: no-repeat;
   margin-top:3%;
   margin-bottom:20px;
    background-position: center; 
  
	min-height: 400px;
	-webkit-box-shadow: inset 10px 10px 34px -13px rgba(0,0,0,0.75);
-moz-box-shadow: inset 10px 10px 34px -13px rgba(0,0,0,0.75);
box-shadow: inset 10px 10px 34px -13px rgba(0,0,0,0.75);
}

.intro h1 {
	padding-top:75px;
	color:#fff;
	text-shadow: 3px 3px #000;
}

.intro p {
	color:#fff;
	text-shadow: 2px 2px #000;
	
}


nav a {
	text-decoration: none;
}

a:link, a:visited {
	color: #3399FF;
}

a:hover, a:active {
	color: #2277FF;
}

.body {
	
	margin: 0 auto;
	width: 70%;
	clear: both;
	transition: width 0.3s linear 0s;
}

.mainheader img {
	width: 100px;
	height: 30px;
	margin-top: 5%;
	margin-right: 15px;

}

.mainheader nav{
	z-index:1;
	position:fixed;
	top:0;
	width:70%;
	background-color: #666;
	height: 40px;
	min-width:560px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-noz-border-radius: 5px;
	max-width:1000px;
	
}

.left {
	text-align:left;
}

.center{
	text-align:center;
}

.reduced{
	font-size:80%;
}

ul {
		padding-left:0;
		list-style:none;
}

.mainheader nav ul {
	list-style:none;
	margin-top: 0;
	margin-right:0px;
	margin-left: 0px;	
}

.mainheader nav ul li {
	float: left;
	display: inline;
}

.navname {
padding-left:10px;
}

.blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    padding-right:10px;
}

.mainheader h1 {
	color:#fff;

	margin-top:auto;
	margin-right: auto;
}

#headshot {
	float:left;
	margin:10px;
}

.mainheader nav a:link, .mainheader nav a:visited
{
	color: #fff;
	font-size: 100%;
	display: inline-block;
	padding: 7px 10px;
	height: 26px;
	transition: background-color 0.2s linear 0s;
}
.mainheader nav a:hover, .mainheader nav a:active, .mainheader nav .active a:link, .mainheader nav .active a:visited
{
	color: #227;
	background-color:#ccc;
	display: inline-block;
}

.mainheader nav ul li a{
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-noz-border-radius: 5px;
}

.maincontent {
	
	background-repeat:repeat;
	margin-top:40px;
	line-height:25px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-noz-border-radius: 5px;
	
}

.content {
	width: 100%;
	float: left;
	min-width:560px;
}

#mainName {
	font-size:350%;
	line-height:90%;
}

.boxes {
	margin-top:2%;
	font-size:100%;
	background-repeat:repeat;
	
	background-color: #fff;
	padding: 2% 5%;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-noz-border-radius: 5px;
	-webkit-box-shadow: 10px 10px 34px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 34px -6px rgba(0,0,0,0.75);
box-shadow: 10px 10px 34px -6px rgba(0,0,0,0.75);
}

.contentWords{
	
    
}

.contentWords img{
	padding: 5px 5px;
    
}

.animate img:hover{
	width:310px;
	height:310px;
	-webkit-animation: expand 1s;
    animation: expand 1s;
	
}

#normText {
	text-align:center;
	font-size:80%;
	font-family: 'Lucida Sans Unicode', Arial;
}

.highschool
{

}

.topsidebar {
	width: 22%;
	float: left;
	background-color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-noz-border-radius: 5px;
	margin-top:1.5%;
	margin-bottom:2%;
	margin-left:2%;
	padding: 2% 3%;
}

.mainfooter {
	width: 100%;
	float: left;
	background-color: #666;
	margin-top: 2%;
	margin-bottom: 1%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-noz-border-radius: 5px;
}

.mainfooter p {
	width: 92%;
	margin: 2% auto;
	color: #fff;
}

.video-container {
	position:relative;
	
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	
	top:0;
	left:0;
	width:100%;
	height:100%;
}

@keyframes expand {
    0%   {width: 300px; height:300;}
    100% {width: 310px; height:310;}
}

@-webkit-keyframes expand {
    0%   {width: 300px; height:300;}
    100% {width: 310px; height:310;}
}


@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }    
    100% {
        opacity: 0;                    
    }
}

@media only screen and (min-width: 150px) and (max-width: 600px)
{

.body {
	
	width: 90%;
	font-size:110%;
	transition: width 1s linear 0s;
}

.mainheader img {
	width: 100%;
}

.mainheader nav{
	height: 200px;
	position: static;
	width:100%;
	min-width:0px;
	
	-webkit-box-shadow: 10px 10px 34px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 34px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 34px -6px rgba(0,0,0,0.75);
}

.mainheader nav ul {
	padding-left: 0;
}

.mainheader nav ul li {
	width:100%;
	text-align: center;
}

.mainheader nav a:link, .mainheader nav a:visited
{
	padding: 10px 25px;
	display: block;
	
}

.mainheader nav a:hover, .mainheader nav a:active, .mainheader nav .active a:link, .mainheader nav .active a:visited
{
	color: #227;
	background-color:#ccc;
	display: block;
	
}

.content {
	width:100%;
	min-width:0px;
}


.topsidebar {
	margin: 3% 8% 2% 0;
	width:94%;
}
.midsidebar {
	margin: 1% 8% 2% 0;
	width:94%;
}
.botsidebar {
	margin: 1% 8% 2% 0;
	width:94%;
}

.blink {
	display: none;
	list-style: inline;
}

}