<section id="footer">
    <div id="social">
        <a class="socialicon linkedin-icon" href="https://www.linkedin.com/in/mkafarowski/">
            <img src="/assets/img/site/social/linkedin.png" alt="LinkedIn Logo"/>
            <div>Michael Kafarowski</div>
        </a>
        <a class="socialicon github-icon" href="https://github.com/Aliasmk">
            <img src="/assets/img/site/social/github.png" alt="GitHub logo"/>
            <div>Aliasmk</div>
        </a>
        <a class="socialicon mastodon-icon" href="https://mastodon.online/@mkafarowski">
            <img src="/assets/img/site/social/mastodon.png" alt="Mastodon logo"/>
            <div>@mkafarowski<br>@mastodon.online</div>
        </a>
        
    </div>
    <p>↑ <a href="#top">Back to Top</a></p>
    <p>This website is entirely human-written and hand-built from scratch in pure HTML, CSS and JS!</p>
    <p>🍁 <a target="_blank" href="https://www.cbc.ca/news/politics/king-charles-delivers-throne-speech-1.7544242">The True North is Strong and Free.</a>!</p>
    <p>&copy2025 Michael Kafarowski</p>
</section>

<!-- Scripts -->
<script defer data-domain="michael.kafarowski.com" data-api="https://perception.mkafarowski.workers.dev/connection/event" src="https://perception.mkafarowski.workers.dev/perception/script.js"></script>

