<section id="notice" style="/* CONTAIN-INTRINSIC-BLOCK-SIZE: AUTO 100PX; *//* background-color: #FF0000; */color: red !important;!i;!;text-align: center;font-weight:bold;background: linear-gradient(90deg, red 25%, white 25%, white 75%, red 75%);">
    <p>🍁 <a target="_blank" href="https://www.cbc.ca/news/politics/livestory/king-charles-hails-incredible-opportunity-for-canada-in-throne-speech-9.6774177?ts=1748360298816" style="color:red">The True North is Strong and Free</a>.</p>
</section>
<section id="header">
    <div id="heading">
        <div id="title">
            <div id="logo"></div>
            <div id="name">Michael Kafarowski</div>
        </div>
        <div id="subtitle">
            Embedded Systems and Mechatronics Engineer
        </div>
    </div>
    <nav id="nav">
        {% for item in site.data.navigation %}
        <a href="{{ item.link }}" class="navtab{% if page.url == item.link %} activetab{% endif %}"> {{ item.name }}</a>
        {% endfor %}
    </nav>
</section>
