<article class="project">
    <h2 class="project-title">{{ include.title }} <span class="projectdate">{{ include.date }}</div></h2>   
    <img class="project-img" src="{{ include.imgurl }}" alt="{{ include.imgalt }}">  
    <p class="project-desc">{{ include.description }}</p>
    <div class="project-buttons">
        {% for button in include.btns %}
        <a class="button {% if button.active == false %}inactiveButton{% endif %}" href="{{button.link}}">{{button.text}}</a>
        {% endfor %}
    </div>
</article>