@font-face{
    font-family: 'xol';
    src: url('Xolonium-Regular.otf');
}



body {
	background-image:url("/images/bgtile.jpg");
}
#mainWindow {
	max-width: 1000px;
	min-width: 300px;
	width:85vw;
	margin: 0 auto 1.5rem;
}

/* ---------- NAV BAR ---------- */
#navBar {
	background-color:#aaa;
	border-radius:10px;
	overflow:hidden;
	border:solid black 2px;
}

#navBarBanner {
	height: 200px;
	background-image:url("/images/navBanner.jpg");
	background-position: -110px -80px;

	color:white;
	font-family: 'xol', Arial;
	font-style:italic;
	font-weight:bold;
	text-shadow: 3px 3px #000;	
	
	overflow:hidden;
}

#bigName {
	display: block;
	margin: 10px auto 0px 15px;
	padding:0 10px;
    font-size:3em;	 
}

#nameSubscript {
	margin: 15px;
	padding: 0 10px;
    font-size:1.2rem;
    display: block;
    letter-spacing: 0px;
}

#navBarLinks ul {
	margin:0px;
	padding:0px;
	list-style-type: none;
	background-color:#333;
    overflow: hidden;
    border-top: solid black 2px;
}

#navBarLinks li {
	float: left;
	border-right: 1px solid #444;
}

#navBarLinks li a {
	display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'xol', Arial;
    font-size:1.4rem;	
}

#navBarLinks li a:hover {
	background-color:#555;
}

.active {
	background-color:#444;
}

/* ---------- CONTENT OF PAGE ---------- */
.contentSection{
	margin-top:10px;
}

.contentSectionInner {
	background-color:rgba(255,255,255,0.7);
	border-radius:10px;
	border: solid black 2px;
	padding:0px;
	overflow:hidden;
	
}
.contentSectionInner h1{
	padding:15px;
	background-color:#333;
	color:white;
	font-family: 'xol', Arial;
    font-size:1.4rem;	
    margin:0;
    border-bottom:solid black 2px;
    font-weight:normal;
    
}

.contentSectionInner h2 {
	font-family: 'xol', Arial;
	font-size:1.2em;
	margin-top:0;
	font-weight:normal;
}

.article, .project {
	padding: 15px 55px;
	overflow: hidden;
}

.article p, .project p {
	font-family: 'Arial';
	line-height: 150%;

}

.article a, .project a {
	font-family:  'Arial';
}

.project {
	border-bottom: thin solid #999;
}

.project a{
	padding:4px;
	color:#337;
	border-radius:5px;
	
}

.project a:hover{
	color:#fff;
}

#footer {
	text-align: center;
	color:#111;
}

#footer img {
	width:15px;
}

/* ---------- IMAGE RELATED ---------- */

.profilePhotoSmall img{
	max-width:140px;
	margin-right: 20px;
	margin-left:20px;
	border-radius: 50%;
	border: solid white 4px;
}

.profilePhotoLarge img{
	max-width:250px;
	margin-right: 20px;
	margin-left:20px;
	border-radius: 50%;
	border: solid white 4px;
}

.contentPhoto img, .contentPhoto video{
	max-width:200px;
	margin-right: 20px;
	margin-left:20px;

}

.floatLeft{
	float:left !important;
}

.floatRight{
	float:right !important;
}

.floatNone {
	float:none !important;
}

.imgwcaption{
	width:45%;
	text-align:center;
	margin: 0 auto; 
}

.imgwcaption img {
	width:80%;
}

.imgwcaption p {

	font-style:italic;
	font-size:0.8em;
	margin-top:5px;
}

.button, .button a {
	font-family: 'xol', Arial !important;
	color:#222277 !important;
	float: right;
	display:block;
}

.button:visited, .button a:visited{
	color:#222277 !important;
}

.button:hover .button a:hover {
	color:#3333FF !important;
}

/* ---------- CONNECT WITH ME STUFF ---------- */

/* Div Only Option For Layout */


.iconContainer {
	display:inline-block;
	width:24%;
}

.iconContainer p {
	text-align:center;
	font-family: 'xol', Arial;
	color:black;
}

.iconContainer img {
	max-width:70px;
	display:block;
	margin: auto;
}


/* Table Option For Layout (Not used) */
#frontPageIcons {
	margin:0 auto;
}

#frontPageIcons img {
	max-width:90px;
}

#frontPageIcons td {
	padding-right:50px;
	margin-bottom:0px;
	text-align:center;
	font-family: 'xol', Arial;
}



@media only screen and (max-width: 700px){

#bigName{
	margin-top: 20px;
	text-align: center;
	font-size:2.5em;
}

#nameSubscript{
	text-align: center;
	font-size:1em;
	margin: 15px;
}

#navBarLinks li {
	display: block;
	float:none;

}

#navBarLinks li a{
	font-size:1rem;
	padding:10px;
}

.contentPhoto, .contentPhoto img, .contentPhoto video{
	float:none !important;
	display: block;
	margin:0 auto;
	margin-bottom:10px;
}

h1, h2, h3 {
	text-align: center;	
}

.imgwcaption {
	width:80%;
}

.profilePhotoSmall, .profilePhotoLarge{
	float: none !important;
	margin: 0 auto;
	text-align:center;
}

.iconContainer {
	display:block;
	width:24%;
	margin:0 auto;
}

.button, .button a {
	float: none !important;
	display: block;
	text-align: center;
	padding:10px;
}

#mainWindow {
	width:95vw
}

.article, .project {
	padding: 15px 25px;
}

#navBarBanner {
	background-size: 1000px;
}


}

